h1{
    font-size: 4em;
    justify-content: center;
    text-align: center;
    background-color: orangered
}


#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
    }
    
    #btnContainer{
    text-align: center;
    }
    
    .buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    }
    
    .buttons:hover{
    background-color: hsl(214, 100%, 56%)
    }
